body{
    background-color: aqua;
}

.form{
/* border: 10px solid red; */
/* margin-left: 100px; */
/* width: 50%; */
/* display: list-item; */
text-align: center;
/* background-color: aqua; */


}
.yourname{
    margin-inline: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 15px;
    border-radius: 2px solid red;
    background-color: blue;
}