body {
    background-color: #EAF6F6;

}
hr {
    border-style:groove;
    border-top-style:inherit;
    border-color: none ;
    border-width: 5\8px;
    height: 2px;
    width: 9%;
    
}
img {
    height: 140px;
}
h1 {
    color:green;
}
h3 {
    color: #66BF;
}