body {
    background-color: #EAF6F6;

}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: none ;
    border-width: 5px;
    height: 0px;
    width: 5%;
    
}
img {
    height: 100px;
}
h1 {
    color:#66BFBF;
}
h3 {
    color: #66BFBF;
}